add folder path to project

In [1]:
import os,sys

In [2]:
dirname = os.path.abspath('')
print(dirname)
dirname = "/".join(dirname.split("/")[:-1])
print(dirname)
sys.path.append(dirname)

/Users/l1/Desktop/kaleidoo/python/http_proj/unitTest
/Users/l1/Desktop/kaleidoo/python/http_proj

imports

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from MinMaxScale import MinMaxScale
from kneighbors import KnnClassifier

import data

In [4]:
data = pd.read_csv('diabetes.csv')
data

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70687,1.0,0.0,1.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,4.0,1.0
70688,1.0,0.0,1.0,1.0,29.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,2.0,0.0,0.0,1.0,1.0,10.0,3.0,6.0
70689,1.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,5.0,15.0,0.0,1.0,0.0,13.0,6.0,4.0
70690,1.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
70691,1.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [5]:
data.isnull().sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  float64
 1   HighBP                70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   Stroke                70692 non-null  float64
 7   HeartDiseaseorAttack  70692 non-null  float64
 8   PhysActivity          70692 non-null  float64
 9   Fruits                70692 non-null  float64
 10  Veggies               70692 non-null  float64
 11  HvyAlcoholConsump     70692 non-null  float64
 12  AnyHealthcare         70692 non-null  float64
 13  NoDocbcCost           70692 non-null  float64
 14  GenHlth               70692 non-null  float64
 15  MentHlth              70692 non-null  float64
 16  PhysHlth              70692 non-null  float64
 17  DiffWalk              70692 non-null  float64
 18  Sex                   70692 non-null  float64
 19  Age                   70692 non-null  float64
 20  Education             70692 non-null  float64
 21  Income                70692 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

In [7]:
X = data.drop('Diabetes_binary', axis=1)
X = data.to_numpy()
y = data['Diabetes_binary']
y = y.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [8]:
knn_model = KnnClassifier(k_neighbors = 7,max_depth=3)

In [9]:
knn_model.fit(X_train, y_train)

In [10]:
tree = knn_model.tree.tree
for i in range(1000):
    print(tree)
    if tree == None:
        break
    if tree.right_child == None:
        print("!!!!!!", i)
        print(tree.data_x)
    else:
        print(i)
    tree = tree.right_child

<kneighbors.Node object at 0x15a069820>
0
<kneighbors.Node object at 0x12ff13070>
1
<kneighbors.Node object at 0x15a04f0a0>
2
<kneighbors.Node object at 0x15a04f160>
3
<kneighbors.Node object at 0x12fdbb160>
4
<kneighbors.Node object at 0x15a04f190>
5
<kneighbors.Node object at 0x15a069f10>
6
<kneighbors.Node object at 0x15a069d30>
7
<kneighbors.Node object at 0x15a069dc0>
8
<kneighbors.Node object at 0x15a069790>
9
<kneighbors.Node object at 0x15a069e20>
10
<kneighbors.Node object at 0x15a069fd0>
11
<kneighbors.Node object at 0x15a069f70>
12
<kneighbors.Node object at 0x15a069a90>
13
<kneighbors.Node object at 0x15a069a30>
14
<kneighbors.Node object at 0x15a069d60>
15
<kneighbors.Node object at 0x15a069bb0>
16
<kneighbors.Node object at 0x15a0697f0>
17
<kneighbors.Node object at 0x15a069760>
18
<kneighbors.Node object at 0x15a069d90>
19
<kneighbors.Node object at 0x15a069f40>
20
<kneighbors.Node object at 0x1037fe700>
21
<kneighbors.Node object at 0x1037fe220>
22
<kneighbors.Node object at 0x1037fe4f0>
23
<kneighbors.Node object at 0x1037fe0a0>
24
<kneighbors.Node object at 0x1037feb80>
25
<kneighbors.Node object at 0x1037fe7f0>
26
<kneighbors.Node object at 0x1037febb0>
27
<kneighbors.Node object at 0x1037fe5b0>
28
<kneighbors.Node object at 0x1037fe550>
29
<kneighbors.Node object at 0x1037feb20>
30
<kneighbors.Node object at 0x1037fea90>
31
<kneighbors.Node object at 0x1037fe2e0>
32
<kneighbors.Node object at 0x1037fe460>
33
<kneighbors.Node object at 0x1037fe490>
34
<kneighbors.Node object at 0x1037fe760>
35
<kneighbors.Node object at 0x1037fe3a0>
36
<kneighbors.Node object at 0x1037fec10>
37
<kneighbors.Node object at 0x15a082070>
38
<kneighbors.Node object at 0x15a0820a0>
39
<kneighbors.Node object at 0x15a0820d0>
40
<kneighbors.Node object at 0x15a082100>
41
<kneighbors.Node object at 0x15a082130>
42
<kneighbors.Node object at 0x15a082160>
43
<kneighbors.Node object at 0x15a082190>
44
<kneighbors.Node object at 0x15a0821c0>
45
<kneighbors.Node object at 0x15a0821f0>
46
<kneighbors.Node object at 0x15a082220>
47
<kneighbors.Node object at 0x15a082250>
48
<kneighbors.Node object at 0x15a082280>
49
<kneighbors.Node object at 0x15a0822b0>
!!!!!! 50
[[ 1.  1.  1.  1. 38.  1.  1.  1.  1.  1.  1.  0.  1.  0.  5. 30. 30.  1.
   1. 10.  6.  7.]]
None

In [11]:
y_pred = knn_model.predict(X_test)

:

:

In [ ]:
print(accuracy_score(y_test, y_pred))