add folder path to project

In [52]:
import os,sys

In [53]:
dirname = os.path.abspath('')
print(dirname)
dirname = "/".join(dirname.split("/")[:-1])
print(dirname)
sys.path.append(dirname)

/Users/yoavkitai/Documents/Bynet/repositories/http_proj/unitTest
/Users/yoavkitai/Documents/Bynet/repositories/http_proj

imports

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from MinMaxScale import MinMaxScale
from kneighbors import KnnClassifier
from knn_brute import KNNBrute

import data

In [55]:
data = pd.read_csv('titanic_data.csv')
data.drop(["Name", "Ticket", "PassengerId"], axis=1, inplace=True)
encoder = LabelEncoder()
data["Sex"] = encoder.fit_transform(data["Sex"])
encoder = LabelEncoder()
data["Cabin"] = encoder.fit_transform(data["Cabin"])
encoder = LabelEncoder()
data["Embarked"] = encoder.fit_transform(data["Embarked"])
data

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0           0       3    1  22.0      1      0   7.2500    147         2
1           1       1    0  38.0      1      0  71.2833     81         0
2           1       3    0  26.0      0      0   7.9250    147         2
3           1       1    0  35.0      1      0  53.1000     55         2
4           0       3    1  35.0      0      0   8.0500    147         2
..        ...     ...  ...   ...    ...    ...      ...    ...       ...
886         0       2    1  27.0      0      0  13.0000    147         2
887         1       1    0  19.0      0      0  30.0000     30         2
888         0       3    0   NaN      1      2  23.4500    147         2
889         1       1    1  26.0      0      0  30.0000     60         0
890         0       3    1  32.0      0      0   7.7500    147         1

[891 rows x 9 columns]

In [56]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin         0
Embarked      0
dtype: int64

In [57]:
data.dropna(inplace=True)

In [58]:
data

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0           0       3    1  22.0      1      0   7.2500    147         2
1           1       1    0  38.0      1      0  71.2833     81         0
2           1       3    0  26.0      0      0   7.9250    147         2
3           1       1    0  35.0      1      0  53.1000     55         2
4           0       3    1  35.0      0      0   8.0500    147         2
..        ...     ...  ...   ...    ...    ...      ...    ...       ...
885         0       3    0  39.0      0      5  29.1250    147         1
886         0       2    1  27.0      0      0  13.0000    147         2
887         1       1    0  19.0      0      0  30.0000     30         2
889         1       1    1  26.0      0      0  30.0000     60         0
890         0       3    1  32.0      0      0   7.7500    147         1

[714 rows x 9 columns]

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     714 non-null    int64
 5   Parch     714 non-null    int64
 6   Fare      714 non-null    float64
 7   Cabin     714 non-null    int64
 8   Embarked  714 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 55.8 KB

In [60]:
X = data.drop('Survived', axis=1)
X = data.to_numpy()
y = data['Survived']
y = y.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=42)

In [61]:
knn_model = KnnClassifier(k_neighbors = 7, depth=2)

In [62]:
knn_model.fit(X_train, y_train)

In [63]:
tree = knn_model.tree.tree
for i in range(1000):
    print(tree)
    if tree == None:
        break
    if tree.right_child == None:
        print("!!!!!!", i)
        print(tree.data_x)
    else:
        print(i)
    tree = tree.right_child

<kneighbors.Node object at 0x15767a4d0>
0
<kneighbors.Node object at 0x157679180>
!!!!!! 1
[[  1.       3.       1.     ...   7.7958 147.       2.    ]
 [  0.       3.       1.     ...  16.1    147.       2.    ]
 [  0.       3.       1.     ...   7.8958 147.       2.    ]
 ...
 [  0.       2.       1.     ...  13.     147.       2.    ]
 [  0.       3.       1.     ...  20.525  147.       2.    ]
 [  0.       3.       1.     ...   7.8958 147.       0.    ]]
None

In [64]:
y_pred = knn_model.predict(X_test)

In [65]:
print(y_pred)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [66]:
print(accuracy_score(y_test, y_pred))

0.5769230769230769

In [67]:
knn_brute = KNNBrute(k_neighbors=7)
knn_brute.fit(X_train, y_train)
y_pred_brute = knn_brute.predict(X_test)
y_pred_brute

[1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0]

In [68]:
accuracy_score(y_test, y_pred_brute)

0.4965034965034965